body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right ,rgb(0, 255, 200), rgb(98, 98, 248));
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 80px 0 80px 0;
    background-color: slategray;
}

h2 {
    margin-bottom: 30px;
    background-color: rgb(116, 116, 61);
    color: white;
}

footer {
    padding: 30px 0 30px 0;
}

.container {
    background-color: white;
    width: 700px;
    text-align: center;
    margin-top: 20px;
    font-size: large;
}

ul {
    list-style: none;
}

.navlist li {
    display: inline;
    margin: 0 40px 0 40px;
}

a {text-decoration: none;}

.planned h2 {
    margin: 0 100px 0 100px;
    background-color: wheat;
    color: black;
    position: relative;
    bottom: 50px;
}

.plannedGame {
    background-color: coral;
    text-align: center;
    margin-left: 5cm;
    margin-right: 5cm;
    border-radius: 10px;
    padding: 10px;
}

.plannedGame button {
    height: 30px;
    width: 80px;
}

.plannedGame:hover {
    background-color: white;
}

.planForm input {
    width: 650px;
    text-align: center;
}
