#lab {
    background-color: darkslategrey;
    border-radius: 20px;
    width: 1000px;
    text-align: center;
    margin-top: 20px;
    margin-left: 8.5cm;
    padding: 1.5cm;
}

#lab h1 {
    margin-bottom: 220px;
}

.cont {
    position: relative;
    bottom: 200px;
}