body {
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
    background-color: gray;
}

header {
    margin-top: -20px;
    background-color: red;
    color: white;
}

header h2 { 
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 30px;
    margin-left: -9px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: black;
}

section {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

form input {
    margin-bottom: 20px;
}

form input[type=submit] {
    width: 25%;
}

footer {
    text-align: center;
    background-color: red;
    color: white;
}

.output {
    text-align: center;
    margin: 0 50px 0 50px;
}

span {
    background-color: black;
    color: yellow;
}